# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment files
.env

# Ignore database files
*.sqlite3
*.db

# Ignore Dockerfile artifacts
*.log
*.pid
*.seed
*.bak

# Ignore local dev folders
.vscode/
.idea/

# Ignore macOS system files
.DS_Store

# Ignore git
.git/
.gitignore
